.main-head{
    overflow: hidden;
}
.nav-container{
    box-shadow: 2px 2px 5px 2px rgb(129, 127, 127);
    top:0;
    position: sticky;
    margin-bottom: 1%;
    background-color: white;
}
.nav-box{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo{
    width:20%;
    height:55%;
    margin:3%;
    border-radius:15%;
}
.app-name{
    font-family: monospace;
}
.navs{
    display: flex;
}
.contents{
    width:100vw;
    height:100vh;
    overflow: auto;
}
